<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Product</title>
    </head>
    <body>
        <p th:text="${'ID: ' + product.getId()}">VALUE</p>
        <p th:text="${'Name: ' + product.getName()}">VALUE</p>
        <p th:text="${'Company: ' + product.getCompany()}">VALUE</p>
        <p th:text="${'Status: ' + product.getStatus()}">VALUE</p>
        <p th:text="${'Details: ' + product.getDetails()}">VALUE</p>

        <a th:href="@{/products/{id}/edit(id=${product.getId()})}">Edit</a>
    </body>
</html>